@import "~bulma/sass/utilities/_all";

// Setup main branding colors
$primary: #FFA800;
$primary-invert: findColorInvert($primary);
//$primary: #FF7F00;
//$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$discord: #7289da;
$discord-invert: findColorInvert($discord);
$github: #171515;
$github-invert: findColorInvert($github);
$reddit: #FF5700;
$reddit-invert: findColorInvert($reddit);
$medium-blog: #3cb371;
$medium-blog-invert: findColorInvert($medium-blog);
$transparent: transparent;
$dark: #222;
$dark-invert: findColorInvert($dark);
$green: #3daa4f;
$green-invert: findColorInvert($green);


$info: #E2F0FB;
$info-invert: findColorInvert($info);

$radial-gradient-primary: radial-gradient(circle, #ffa800, #ff9e00, #ff9400, #ff8a00, #ff7f00);
$gradient-primary: linear-gradient(to right top, #ffa800, #fda700, #faa500, #f8a400, #f6a200);

//.button,
//button {
//  background-image: $gradient-primary;
//}

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert),
  "github": ($github, $github-invert),
  "discord": ($discord, $discord-invert),
  "reddit": ($reddit, $reddit-invert),
  "medium-blog": ($medium-blog, $medium-blog-invert),
  "transparent": ($transparent, $transparent),
  "green": ($green, $green-invert),
  //"primary-2": ($primary-2, $primary-2-invert),  
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

//$link-active: red;

// Body
$body-bg: whitesmoke;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Verdana", sans-serif;
$family-monospace: "Verdana", sans-serif;

// Update some of Bulma's component variables
//$control-border-width: 2px;
//$input-border-color: #888;
//$input-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.35);

@import "~bulma";
@import "~buefy/src/scss/buefy";