//html
body {
	background-color: whitesmoke;
	height: 100% !important;
	width: 100% !important;
	display: block;
	min-width: 320px;
	overflow-x: hidden;
}

.dropdown-trigger-icon {
	&:hover {
		cursor: pointer;
	}
}

.panel-heading:first-child {
  border-top: 2px solid $primary !important;
}

.has-hand-cursor {
	&:hover {
		cursor: pointer;
	}
}

.has-hover {
    transition: transform .1s;
	
	&:hover {
	    transform: scale(1.055);
	}
}


.panel-block {
	background-color: $white;
}

.main-layout {
	background-color: whitesmoke;
	height: 100%;

	& + .container {
		height: 100%;
		padding-top: 30px;
	}
}

.pagination-previous, .pagination-next, .pagination-link {
	background-color: $white;
}

.is-nowrap {
	flex-wrap: nowrap;
}

.is-uppercase {
	text-transform: uppercase;
}

.is-margin-centered {
	margin: 0 auto;
}

.is-v-centered {
	align-self: center;
}

.is-end {
	justify-content: flex-end !important;
}

.is-100h {
	height: 100%;
}

.is-100w,
.is-100 {
	width: 100%;
}

.button.is-wide {
	max-width: 280px;
	width: 100%;
}

.is-start {
	justify-content: flex-start !important;
}

.has-shadow {
	box-shadow: -1px -1px 18px -8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -1px -1px 18px -8px rgba(0, 0, 0, 0.2);
}

.is-white-bg {
	background: #fff;
}

.is-primary {
	color: $primary;
}

.is-twitter {
	color: $twitter;
}

.is-twitter-invert {
	color: $twitter-invert;
}

.is-discord {
	color: $discord;
}

.is-discord-invert {
	color: $discord-invert;
}

.is-github {
	color: $github;
}

.is-github-invert {
	color: $github-invert;
}

.is-reddit {
	color: $reddit;
}

.is-reddit-invert {
	color: $reddit-invert;
}

.is-medium-blog {
	color: $medium-blog;
}

.is-medium-blog-invert {
	color: $medium-blog-invert;
}

.is-bold {
	font-weight: 700;
}

@media (max-width: 1280px) {
	.hidden-desktop {
		display: none;
	}
}

@media (max-width: 768px) {
	.hidden-mobile {
		display: none;
	}
}

.is-green {
	color: $green;
}

.is-green-invert {
	color: $green-invert;
}


.show-mobile {
	display: none;
}

@media (min-width: 768px) {
	.show-mobile {
		display: unset;
	}
}

.widget {
	margin-bottom: 30px;
}